.carousel-img{
    height: 350px;        /* change this value */
    object-fit: cover;    /* keeps image clean */
}
body{
    padding-bottom: 80px;
}
.card-img-top{
    height:100px;
    width:100%;
    object-fit:contain;
    padding:15px;
}

